[submodule "recalbox-emulationstation"]
	path = recalbox-emulationstation
	url = https://github.com/digitallumberjack/recalbox-emulationstation
[submodule "recalbox-buildroot"]
	path = recalbox-buildroot
	url = http://github.com/digitallumberjack/recalbox-buildroot
[submodule "recalbox-rescue"]
	path = recalbox-rescue
	url = https://github.com/recalbox/recalbox-rescue
